:root {
    --sky: #d2dbf8;
    --cobalt: #151cae;  
}

* {
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--sky)
}

h1 {
    background: linear-gradient(to bottom, #000, #151cae);
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
}

.container {
    display: flex;
    border: 2px solid red;
    gap: 40px ;
    padding: 30px;
}

.weather-input{
    width: 550px;;
}

.weather-input input {
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    outline: none;
    padding: 0 18px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.weather-input .seperator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .seperator::before {
    content: "or";
    color: #6c757d;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: var(--sky)
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    background: linear-gradient(to bottom, #000, #151cae);
}

.weather-input .location-btn {
    background: #6c757d;
}

.weather-data {
    width: 100%;
}
